
.Homepage_Background{
    background-image:url("SingaImages/Singa_Kohaku12.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.Title{
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background: #E3DFDC;
    margin-bottom: 2em;
    
}
.KohakuNav{
    background: black;
    color:white;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-radius: 19px;
    font-family:sans-serif, Roboto;
    justify-content: center;
  align-items: center;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 5em;
    
}
